
header{
       background: #BBBBBB;

}
nav li{
      display: inline;

      margin: 0 0 0 15px;
}

body{
      background-color:blue ;
}

p {text-align: center;background: #cccccc;
      }

      h1{ text-align: center;background-color: rgb(111, 111, 111);
      }